*.swp
.DS_Store
*/*/*/doc/tags
vim/doc/tags
vim/.netrwhist
vim/bundle/*
vim/sessions/*
vim/autoload
vim/plugged
vim/ftplugin
vim/view/*
.bundle
vim/vim
Gemfile.lock
vim_bundles.lock
zsh/zsh_auth
zsh/zsh_local
zsh/zsh_travis
hosts
bash/bash_local
